/*mapas*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.fotocopias {
  color: red; }

.reparaciones {
  color: white; }

.impresiones {
  color: green; }

/* map - get*/
.estiloMap {
  background-color: green;
  font-size: 30px; }

/* extend*/
.estilo1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-decoration: solid;
  text-align: center; }

.estilo2 {
  font-size: 2rem; }

.ParrafoMix {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-align: center;
  text-decoration: none; }

h1 {
  color: #790379; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.caja {
  display: flex;
  justify-content: center;
  align-items: center; }
  .caja figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 20px;
    border: 3px solid #5b047e; }
    .caja figure img {
      width: 100%;
      height: 90%;
      transition: all 500ms ease-in-out; }
    .caja figure .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.74);
      transition: all 500ms ease-in-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
    .caja figure:hover > .capa {
      opacity: 1;
      visibility: visible; }

h2 {
  text-align: center; }

.caja figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
  color: #fff; }

.caja figure:hover > img {
  transform: scale(1.3); }

.caja figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.imgFooter {
  width: 80px; }

/* WHATSAPP */
.WhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 15px;
  right: 15px; }

/* FOOTER  */
footer {
  height: 100px;
  width: 100%;
  border: 3px solid #5b047e;
  background-image: url("../img/fondo1.jpg");
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
