/* extend*/

.estilo1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-decoration: solid;
    text-align: center;
    }

    .estilo2 {
        font-size: 2rem;
    }
    